# データの永続化
## SQLite

In [1]:
import sqlite3

In [2]:
path = ''


db_name = 'test.db'

conn = sqlite3.connect(path + db_name)

conn.close()

In [4]:
path = ''
db_name = 'car.db'

try:
    conn = sqlite3.connect(path + db_name)

    cur = conn.cursor()

    sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL)'

    cur.execute(sql)

except sqlite3.Error as e:
    print('エラーが発生しました:',e)

finally:
    conn.close()

エラーが発生しました: table cars already exists

In [5]:
path = ''
db_name = 'car.db'

try:
    conn = sqlite3.connect(path + db_name)

    cur = conn.cursor()

    sql = 'INSERT INTO cars (id, name, price) VALUES (1, "370z", 7000000);'


    cur.execute(sql)

    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:',e)

finally:
    conn.close()

In [9]:
path = ''
db_name = 'car.db'

try:
    conn = sqlite3.connect(path + db_name)

    cur = conn.cursor()

    sql = 'INSERT INTO cars (id, name, price) VALUES (?, ?, ?);'

    cars = [
        (1, 'スカイラインGT-R', 8000000),       
        (2, 'GT-R', 15000000),
        (3, 'シビックタイプR', 5000000),
        (4, '86', 4000000)
    ]

    cur.executemany(sql, cars)

    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:',e)

finally:
    conn.close()